.container {
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1e5b2b; 
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    color: #97d783; 
    font-weight: 400;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

input {
    padding: 12px;
    border: 1px solid #263023ed;
    border-radius: 8px;
    background-color: #b3b542;
    outline: none;
}

.btn {
    padding: 12px;
    background-color: #cbe84d;
    color: #121212;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

.contact-list li {
    background: #2d2d2d;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.delete-btn {
    background-color: #5e0c0c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}